.hero{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7) ),url("../res/images/bg4.webp");
	background-size: cover;
	background-repeat: none;
	background-attachment: fixed;
  background-position: center;
}
.imp{
	color: #6058EA;
	font-family:'Silkscreen', sans-serif;
}
.line{
	width: 35px;
	height: 5px;
	margin: 5px auto;
	-webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  border-radius: 1rem;
	background-color: white;
}

.hamburger .line:nth-child(2){
	width: 25px;
	position: relative;
	left: 5px;
	transition: all 0.2s;
}
.randomText{
	background-image:linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.8) ),url("../res/images/bg2.webp");
	background-size: cover;
	background-repeat: none;
	background-attachment: fixed;
	background-position: center;
	height: 70vh;
}
.quotes{
	background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8) ),url("../res/images/bg3.webp");
	background-size: cover;
	background-repeat: none;
	background-attachment: fixed;
  background-position: center;
	height: 70vh;
}
.info{
	background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9) ),url("../res/images/bg2.webp");
	background-size: cover;
	background-repeat: none;
	background-attachment: fixed;
  background-position: center;
	height: 100vh;
}

#contact{
	position: relative;
	z-index: 0;
}
*{
	font-family: 'Montserrat', sans-serif;
}


#coolButton{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  font-family: 'Ubuntu', sans-serif;
}
#coolButton:hover{
  transition: 1s linear;
  background-color: #6058EB;
  filter: drop-shadow(0 0 10px #6058EB) drop-shadow(0 0 40px #6058EB)
  contrast(1.8) brightness(1.8);
}
html{
	scroll-behavior: smooth;
}

.logo{
	font-family: 'Pacifico',sans-serif;
}

.navLink{
	height: 100%;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	vertical-align: middle;
}

.navLink:hover{
	color: rgb(200,200,200);
}

.navLinkSmall{
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	color: white;
	margin: 1.5rem;

}
.socialIcon{
	background-color: #373282;
	transition: 1s all linear;
	position: relative;
	left:2rem;

}
.socialIcon:hover{
	background-color: #4C54DD;
}
#loader {
	position: absolute;
	z-index: 10000;
	background-color:black;
	width: 100vw;
	height: 100vh;
	color:white;
	transition: 1s all linear;
}
.lImage{
	display: none;
}
#loader.hidden {
  opacity: 0;
}

.s{
	background-color: #121212;
	z-index: 5;
}
.a{
	font-family: 'Silkscreen', sans-serif;
}
.smallHeading{
	font-family: 'Silkscreen', sans-serif;
	width: auto;
	word-wrap: normal;
	border-right: 2px solid gray;
}

/*Certification Cards*/
.card {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  overflow: hidden;
  min-width: 230px;
  max-width: 315px;
  color: #fff;
  font-size: 1rem;
  background: #000;
}

.card *,
.card:before,
.card:after {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.card:before,
.card:after {
  
  content: '';
  background-color: #fff;
 
  opacity: 0;
}

.card figcaption {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 15px 20px;
}

.card h3,
.card h4 {
  opacity: 0;
}

.card a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card:hover img,
.card.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.card:hover h3,
.card.hover h3,
.card:hover h4,
.card.hover h4 {
  opacity: 1;
}

.card:hover h3,
.card.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.card:hover h4,
.card.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
/*AOS Animation*/
[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}

.rowToCol{
	flex-direction: row;
}

/*Media Queries*/

@media(max-width:1028px){
	.hamburger{
		display: block;
		position: fixed;
	}


	.hamburger.active .line:nth-child(2){
		opacity: 0;
	}
	.hamburger.active .line:nth-child(1){
		transform: rotate(45deg) translateY(21px);
	}
	.hamburger.active .line:nth-child(3){
		transform: rotate(-45deg) translateY(-21px);
	}
	/*.navBar{
		position: fixed;
		top: -50vh;
		margin: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		text-align: center;
		transition: 1s;
	}*/
	/*.navBar.active{
		top: 50vh;
	}*/

	.navBar{
		position: absolute;
		top: -100vh;
		margin: auto;
		transition: 0.7s all;
		background-color: rgba(0,0,0,0.5);
		z-index: 2;
		overflow: hidden;

	}
	.navBar.active{
		position: fixed;
		top:0;
	}
}