:root{
	--bg2: #11111b;
	--bg: #1e1e2e;
  --bg3:#181825;
	--fg: #cdd6f4;
	--fg2: #585b70;
  --fg3:#45475a;
  --subtext:#a6adc8;
  --primary:#89b4fa;
  --secondary: #cba6f7;
}

.catppuccin{
	--bg2: #11111b;
	--bg: #1e1e2e;
  --bg3:#181825;
	--fg: #cdd6f4;
	--fg2: #585b70;
  --fg3:#45475a;
  --subtext:#a6adc8;
  --primary:#89b4fa;
  --secondary: #a6e3a1;
}

.light{
	--bg2: #dce0e8;
	--bg: #eff1f5;
  --bg3: #ccd0da;
	--fg: #4c4f69;
	--fg2: #7c7f93;
  --fg3: #8c8fa1;
  --subtext:#5c5f77;
  --primary:#89b4fa;
  --secondary: #a6e3a1;
}

.imp{
  color:var(--primary);
}

h1,h2,h3,a{
  color:var(--fg);
}
h4{
  color:var(--subtext);
}

a,button{
  cursor:pointer;
}


.portfolioStart{
	background-color:var(--bg2);
}
